@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair-display: "Playfair Display";
  --font-dm-serif-text: "DM Serif Text";
}

.playfair_display {
  font-family: var(--font-playfair-display);
}

.dm_serif_text {
  font-family: var(--font-dm-serif-text);
}

.section_wrapper {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  scroll-snap-align: start;
}